<!DOCTYPE html>
<html lang="en">
<head>
    {{template "general/header"}}
</head>
<body>
    <!-- beginanswer -->
    <div class="flex items-center justify-center min-h-screen bg-cover" style="background-image: url('http://images.unsplash.com/photo-1613072505192-4ab30323025e?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxMjA3fDB8MXxhbGx8fHx8fHx8fHwxNjMyMDc3MDM4&ixlib=rb-1.2.1&q=80&w=1080');">
        <div class="w-full max-w-md px-8 py-10 mt-4 text-left bg-white shadow-lg rounded-lg">
            <h3 class="text-2xl font-bold text-center">Register account</h3>
            <form method="POST" action="/client/register/process">
                <div>
                    <div class="mt-4">
                        <div>
                            <label class="block" for="fullname">Fullname<label>
                            <input type="text" placeholder="fullname" class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-green-600" name="fullname">
                        </div>
                        <div class="mt-4">
                            <label class="block" for="email">Email<label>
                            <input type="email" placeholder="Email" class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-green-600" name="email">
                        </div>
                        <div class="mt-4">
                            <label class="block">Password<label>
                            <input type="password" placeholder="Password" class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-green-600" name="password">
                        </div>
                        <div class="flex items-baseline justify-between">
                            <button class="px-6 py-2 mt-4 text-white bg-green-600 rounded-lg hover:bg-green-900">Register</button>
                            <a href="/client/login" class="text-sm text-green-600 hover:underline">Login</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- endanswer -->
</body>
</html>